*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #052e16;
}

.main{
    background-color: #052e16;
    width: 1900px;
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    
}
img{
    height: 90px;
    width: 657px;
}
.navbar{
    display: flex;
    justify-content:center;
    margin: -70px; 
    
}



.home{
    
    margin: 10px;
    padding-right: 60px;
    
}
.about{
    margin: 10px;
    padding-right: 60px;

}
.contact{
    margin: 10px;
    padding-right: 60px;
    
}
.h{
    color: white;
    font-weight: 600;
}
.a{
    color: white;
    font-weight: 600;
}
.c{
    color: white;
    font-weight: 600;
} 

 .container{
    width: 1900px;
    height: 1140px;
    
    position:absolute;
    left: auto;
    top: 100px;
    
}
.division{
    height: 829px;
    width: 1400px;
    background-color: #022c22;
    position: absolute;
    left: 50px;
    top: 60px;
}
.logo{
    position: absolute;
    left: 60%;
    top: 10%;
    width: 500px;
    height: 500px;

 }
.logo img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px double;
    border-style: double;
}
.name{
    color: white; 
    font-weight: 600;
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 35px;
}
.work{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 25%;
    left: 10%;
}
.para{
    width: 700px;
    height: 60px;
    position: absolute;
    top: 40%;
    left: 5%;

}
.para p{
    color: white;
    font-size: 24px;
    text-align: center;
    
}


@media only screen and (min-width :768px) and (max-width:991px){
    .container{
        width: 95%;
    }
   
    
}